Para levantar un servidor flask primero se necesita tener Python 2.7 o superior

  //sudo apt-get install python<version o dejar vacio>

instalamos virtualenv, la cual nos permitira crear entornos virtuales en python

  //sudo apt-get install python-virtualnv

creamos una carpeta donde vamos a almacenar nuestra aplicacion flask

  //mkdir FlaskApp  
  // cd FlaskApp

dentro de la carpeta FlaskApp creamos un entorno virtual

	// virtualenv flask

por ultimo instalamos flask, primero se debe instalar pip
pip es un sistema de gestion de paquetes utilizados para instalar y administrar paquetes de software escritos en python

	//pip install Flask

--------------------------------------------------------------
ejemplo:

creamos un archivo nombredearchivo.py 

corremos el archivo 

	python (nombre del archivo).py

    en consola nos mostrara que se esta correindo ya 
		
	*Running on http://0.0.0.0:1111
	
