<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <title>Tp2</title>
    <style>
      .cuerpo{
        background-color: rgb(223, 240, 216);
      }
    </style>
  </head>
  <body>
    <nav>
      <div class="jumbotron text-center cuerpo container">
        <h1>Taller de Proyecto II - 2017</h1>
        <p>Práctica 1</p>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <form action="/estacionInformacion" method="POST">

        <div class="col-md-4">
          <div style="margin-bottom: 25px; opacity:1;" class="input-group">

            <span class=" input-group-addon" id="basic-addon1"><label class="glyphicon glyphicon-equalizer" for="periodo"></label></span>
              <select class="form-control" name="periodo" autofocus="autofocus" required="required">
                    <option value=""selected disabled hidden>Período de muestreo</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="30">30</option>
                    <option value="60">60</option>
              </select>

           </div>


         </div>
         <input type="submit" class="btn btn-success" name="enviado" value="Cambiar">
       </form>
      </div>

    </div>
    <div class="container ">

        <div class="row">
          <div class="col-sm-6 ">
            <div class="panel panel-success">
              <div class="panel-heading">Temperatura</div>
              <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Frecuencia de muestreo</th>
                        <th>Promedio de muestras </th>
                        <th>Última muestra </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{ termo }}</td>
                        <td>{{termo_promedio}}</td>
                        <td>{{termo_ultimaMuestra}}</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
           </div>
          </div>
          <div class="col-sm-6 ">
            <div class="panel panel-success">
              <div class="panel-heading">Humedad</div>
              <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Frecuencia de muestreo</th>
                        <th>Promedio de muestras </th>
                        <th>Última muestra </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{humedad}}</td>
                        <td>{{humedad_promedio}}</td>
                        <td>{{humedad_UltimaMuesta}}</td>

                      </tr>

                    </tbody>
                  </table>
              </div>
           </div>
          </div>
          <div class="col-sm-6 ">
            <div class="panel panel-success">
              <div class="panel-heading">Presión Atmosférica</div>
              <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Frecuencia de muestreo</th>
                        <th>Promedio de muestras </th>
                        <th>Última muestra </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{presion}}</td>
                        <td>{{presion_promedio}}</td>
                        <td>{{presion_UltimaMuestra}}</td>

                      </tr>

                    </tbody>
                  </table>
              </div>
           </div>
          </div>
          <div class="col-sm-6 ">
            <div class="panel panel-success">
              <div class="panel-heading">Velocidad del viento</div>
              <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Frecuencia de muestreo</th>
                        <th>Promedio de muestras </th>
                        <th>Última muestra </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{viento}}</td>
                        <td>{{viento_promedio}}</td>
                        <td>{{viento_UltimaMuestra}}</td>

                      </tr>

                    </tbody>
                  </table>
              </div>
           </div>
          </div>
        </div>
      </div>
  </body>

  <!-- FUNCION QUE REFRESCA LA PAGINA CADA 10 SEGUNDOS -->
  <script>
    tiempo_actualizar = {{periodo}}
    setTimeout('document.location.reload()',tiempo_actualizar);
  </script>
</html>
